@charset "UTF-8";
@font-face { font-family: "FuturaL"; src: url(FuturaBTLight.ttf); }
body { background-color: black; font-family: "Helvetica Neue", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "游ゴシック", YuGothic, "メイリオ", Meiryo, sans-serif; }

.menu div p { margin-top: 60px; font-size: 30px; font-family: "Helvetica Neue"; font-weight: 200; color: #CCC; transition: all 0.5s ease; cursor: pointer; }
.menu div p:hover { color: white; }

#logodiv { margin-top: 20px; }

#about { border-right: solid 1px gray; padding-right: 5%; text-align: right; }

#contact { border-left: solid 1px gray; padding-left: 5%; text-align: left; }

.centerd { display: block; margin-right: auto; margin-left: auto; text-align: center; }

#logoback { background-color: white; width: 60%; -webkit-mask-image: url(../img/logo.svg); mask-image: url(../img/logo.svg); -webkit-mask-mode: alpha; mask-mode: alpha; -webkit-mask-repeat: no-repeat; mask-repeat: no-repeat; -webkit-mask-size: 100%; mask-size: 100%; -webkit-mask-position: center; mask-position: center; }

.hoverwhite { transition: all 0.5s ease; }
.hoverwhite:hover { opacity: 0.5; filter: alpha(opacify=50); -ms-filter: alpha(opacify=50); }

#name { font-size: 30px; margin-top: 15px; text-align: center; font-family: "Futura"; color: white; font-style: italic; letter-spacing: 5px; }

.zone { width: 100%; }

#zone1 { background-image: url(../img/noji.jpg); height: auto; }

.worktitle { margin: 60px 20px 0px 20px; font-family: Futura; font-size: 30px; letter-spacing: 3px; border-bottom: 2px solid white; color: white; }

.worksub { margin: 0 20px; text-align: right; font-weight: bold; font-size: 15px; color: white; }

.caption { padding: 5px; margin: 25px 20px; vertical-align: middle; color: black; font-size: 14px; color: white; background-color: rgba(0, 0, 0, 0.6); text-align: justify; }

.workimg { margin-top: 25px; margin-bottom: 25px; border: 1px solid #CCC; }

#caption1 { margin: 65px 20px 25px 150px; }
