@charset "utf-8";
@font-face{
	font-family: "FuturaL";
	src: url(FuturaBTLight.ttf)
}
body{
	position: relative;
	overflow: hidden;
	visibility: hidden;
	background-color: black;
	font-family:  "Helvetica Neue", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "游ゴシック", YuGothic, "メイリオ", Meiryo, sans-serif;
}
#container{
	top: 0;
	left: 0;
	width: 100%;
	position: absolute;
	z-index: 1;
}
.stageBase{
	width: 100%;
	position: relative;
	overflow: hidden;
}
.stageBase .fieldWrap{
	padding: 50px 0 0 0;
}
#pageNav {
    top: 0;
    right: 25px;
    width: 15px;
    text-align: center;
    position: fixed;
    z-index: 2;
}
#pageNav ul {
    width: 15px;
    display: block;
}
#pageNav ul li {
    padding-bottom: 5px;
    width: 15px;
    height: 15px;
    display: block;
    overflow: hidden;
}
#pageNav ul li a {
    width: 15px;
    height: 15px;
    background: transparent url(../img/nav.png) no-repeat center center;
    display: block;
}
#pageNav ul li.activeStage a {
    background: transparent url(../img/nav_acv.png) no-repeat center center;
}
 
/* #pageDown
--------------------------- */
#pageDown {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    text-align: center;
    position: fixed;
    overflow: hidden;
    z-index: 3;
}
#pageDown a {
    margin: 0 auto;
    width: 30px;
    height: 30px;
    background: transparent url(../img/next_arw.png) no-repeat center center;
    display: block;
}
.menu div p{
	position: relative;
	margin-top: 40px;
	font-size: 30px;
	font-family: "Helvetica Neue";
	font-weight: 200;
	color: #CCC;
	transition: all 0.5s ease;
	cursor: pointer;
	z-index: 3;
	&:hover{
		color: white;
		
	}
}
#logodiv{
	margin-top: 0px;
}
#about{
	padding-right: 5%;
	text-align: center;
}
#contact{
	padding-left: 5%;
	text-align: center;
}
.centerd{
	display: block;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}
#logoback{
	position: relative;
	transform-origin: top center;
	transform: scale(5);
	background-color: white;
	width: 60%;
	z-index: 0;
	-webkit-mask-image: url(../img/logo.svg);
	mask-image: url(../img/logo.svg);
	-webkit-mask-mode: alpha;
	mask-mode: alpha;
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	-webkit-mask-size: 100%;
	mask-size: 100%;
	-webkit-mask-position:center;
	mask-position:center;
}
.hoverwhite{
	transition: all 0.5s ease;
	&:hover{
		opacity: 0.5;
		filter: alpha(opacify=50);
		-ms-filter: alpha(opacify=50);
	}
}
#name{
	font-size: 30px;
	margin-top: 20%;
	text-align: center;
	font-family: "Futura";
	color: white;
	font-style: italic;
	letter-spacing: 5px;
	z-index: 2;
	position: relative;
}
.zone{
	width: 100%;
}
#zone1{
	background-image: url(../img/noji.jpg);
  	height: auto;
}
.worktitle{
	margin: 60px 20px 0px 20px;
	font-family: Futura;
	font-size: 30px;
	letter-spacing:3px;
	border-bottom: 2px solid white;
	color: white;
}
.worksub{
	margin: 0 20px;
	text-align: right;
	font-weight: bold;
	font-size: 15px;
	color: white;
}
.caption{
	margin: 25px 20px;
	color: black;
	font-size: 14px;
	color: white;
	background-color: rgba(0, 0, 0, 0.6 );
	text-align: justify;
}
.workimg{
	margin-top: 25px;
	margin-bottom: 25px;
}
#caption1{
	margin: 15% 20px 0 15%;
	padding: 2% 2% 15% 15%;
}
#category1{
	position: relative;
	font-size: 120px;
	font-family: "Avenir next";
	font-weight: 200;
	color: gray;
	opacity: 0.5;
	bottom: 150px;
	margin-left: 100px;
}